<h1>Places</h1>


<p>
  <% if @current_user != nil %>
  <a href="/places/new">Add a new place</a>
  <% end %>
</p>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
