<h3>New Place</h3>

<% if @current_user != nil %>


<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<% end %>